@import "tailwindcss" important;

.container {
    @apply mx-auto max-w-screen-xl
}

.text-primary {
    @apply text-blue-700
}

.mdc-notched-outline__notch {
    border-right-style: none !important;
}

@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}
